# Xcode
.build/
DerivedData/
*.xcworkspace
*.xcuserdata/
*.xcscheme
UserInterfaceState.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Release builds
release/
release-*/
releases/
builds/
*.dmg
*.zip
*.xcarchive/

# SwiftPM
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.podspec
